doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/admin/schoolControls.css')
        link(rel='stylesheet', href='/css/main.css')
        include ../main
    body
        include nav
        .AD-dashboard-body
            .AD-dashboard-body-header
                .AD-dashboard-body-header-container
                    p Your School
                    h5 Design Tech High School
                include accountTL
                .AD-dashboard-body-header-right
                    .AD-dashboard-body-header-right-switch-wrapper
                        .AD-dbhrs-label
                            p Floor 1
                        .AD-dashboard-body-header-right-switch
                            .AD-dashboard-body-header-right-switch-object
                        .AD-dbhrs-label
                            p Floor 2
            .SC-dashboard-body
                .SC-dashboard-body-container-floor
                    .SC-dashboard-body-container-floor-header
                        .SC-dashboard-body-container-floor-header-title
                            p Floor 1
                            h6 Select A Room
                        .SC-dashboard-body-container-floor-key
                            .key-object
                            p Indoor Room
                            .key-object.outdoor
                            p Outdoor Room
                                
                        
                    .SC-dashboard-body-container-floor-body
                        .SC-dashboard-body-floor-two
                            include svgSchoolL2
                        .SC-dashboard-body-floor-one
                            include svgSchoolL1
                .SC-dashboard-room-controls-wrapper
                    .SC-drc
                        .SC-drc-left
                            .SC-drc-left-top
                            .SC-drc-left-bottom
                        .SC-drc-right
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js")
script.
    $('.naviObject-2').find('.AD-nav-wrapper-hover-object').addClass('base')
    
    // 
    // Global Vars
    // 
    
    var rawClassDB = "#{classrooms}"
    var classrooms = JSON.parse(rawClassDB.replace(/&quot;/g,'"'));
    
    var activeFloor = "floor1"
    
    $('.AD-dashboard-body-header-right-switch').click(function(){
        $('.AD-dashboard-body-header-right-switch-object').toggleClass('trigger')
        if($('.AD-dashboard-body-header-right-switch-object').hasClass('trigger')) {
            activeFloor = "floor2"
            $('.SC-dashboard-body-floor-two').show()
            $('.SC-dashboard-body-floor-one').hide()
        } else {
            activeFloor = "floor1"
            $('.SC-dashboard-body-floor-one').show()
            $('.SC-dashboard-body-floor-two').hide()
        }
        triggerFloorChange(activeFloor)
    })
    
    function triggerFloorChange(id) {
        var floorNumber = id.slice(5)
        $('.SC-dashboard-body-container-floor-header-title p').text('FLOOR ' + floorNumber)
    }
    
    function FLuppercase(id) {
        var firstLetter = id.charAt(0).toUpperCase()
        var splitIn = id.slice(1)
        console.log(firstLetter)
        return firstLetter + splitIn
    }
    
    $('g').click(function(){
       var id = $(this).attr('id')
       triggerClassSelection(id)
    })
    
    function triggerClassSelection(id) {
        $.each(classrooms, function(key, value) { 
            if(value.roomNumber === id) {
                console.log('Found Class ' + value.roomNumber + " At Position " + key)
                $('.AD-dashboard-body-header-right-switch-wrapper').fadeOut()
                $('.SC-dashboard-body-container-floor').fadeOut()
                $('.AD-dashboard-body-header-container').fadeOut()
                setTimeout(function(){
                    // $('.AD-dashboard-body-header').addClass('active')
                    // $('.SC-dashboard-body').addClass('active')
                    $('.SC-dashboard-room-controls-wrapper').addClass('display')  
                    setTimeout(function(){
                        $('.SC-dashboard-room-controls-wrapper').addClass('transition')
                    }, 500)
                }, 700)
                return false;
            }
            if(key + 1 == classrooms.length) {
                window.alert('Classroom not found in Database')
            }
        });
    }
   