// ?xml version="1.0" encoding="utf-8"?
// Generator: Adobe Illustrator 23.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)
svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 1920 1080', xml:space='preserve')
  style(type='text/css').
    .st0{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
    .st1{fill:none;stroke:#000000;stroke-miterlimit:10;}
    .st2{fill:#F15A24;stroke:#000000;stroke-miterlimit:10;}
  g#OutlineSCH
    path.st0(d='M155.5,462.5c0,0-1,21,11,48c5.94,13.37,11.89,23.56,16.37,30.43c4.57,7,7.63,10.57,7.63,10.57')
    path.st0(d='M172.5,549.5c0,0-1,15,32,46s72,29,72,29l21-1l11-3')
    line.st22(x1='225.5', y1='529.5', x2='250.98', y2='621.14')
    path.st22(d='M299.5,587.5L299.5,587.5v-60h-25v-3h-26v-145h18v-28h-18v-13h80v-43h57l165,4l143,7l17,1v4l53,1l23-46l35,5v3\
    l108,17l2-3l38,6l-6,69l66,16l31,10l25,8l34,11l27,11l6-10l42,21l25-51l66,33l47,26l17,9l-29,62l47,24l36,16l30,12l25,10l26,10\
    l21,9l20,10l21,12l24,16l23,17l11,9l17,14l13,15l11,12l8,10l-2,8l38,13v3l28,9l-2,9l-16-5l-7,23l15,5l-17,55l42,14l34,74\
    c0,0-28,16-71,15s-85-20-85-20l3-9l-28-6l-28-6l-28-6l-29-8l-29-9l-27-9l-28-10l-27-11l-26-11l-28-13l-26-13l-25-13l-26-14l-26-15\
    l-26-16l-22-14l-27-17l-21-12l-9-5l-27-14l-20-10l-31-13l-19-9l4-21l-27-5l-22-3l-13-1l-27-2l-30-1l-28-1h-25h-30l-33,2l-22,2v51\
    c0,0-17,11-62,12s-79-22-79-22v-50l-55-1l-54-2l-78-4l-63-4l-76-6l-9-1L299.5,587.5z')
    line.st22(x1='301.5', y1='588.5', x2='301.5', y2='622.41')
    line.st22(x1='174.6', y1='557.6', x2='186.4', y2='546.1')
    line.st22(x1='208.5', y1='470.5', x2='248.5', y2='470.5')
    polyline.st0(points='158.12,470.5 156.66,470.5 208.5,470.5 225.5,529.5 184.41,543.24 	')
    path.st22(d='M155.48,470.5')
    line.st22(x1='160.2', y1='470.5', x2='155.5', y2='470.5')
    polyline.st22(points='777.5,615.5 750.5,618.5 710.5,625.5 680.5,632.5 680.5,606.5 636.5,606.5 	')
    polyline.st22(points='1613.5,899.5 1623.5,870.5 1648.5,878.5 1673.5,886.5 1688.5,841.5 1686.5,839.5 1690.5,825.5 	')
  g#101
    polygon.st2(points='248.5,452.03 301.5,452.5 301.5,481.5 248.5,481.5 	')
  g#102
    polygon.st2(points='301.5,525.5 301.5,481.5 248.5,481.5 248.5,524.5 274.5,524.5 274.5,527.5 301.5,527.5 	')
  g#103
    polygon.st2(points='386.5,595.5 386.5,513.5 401.5,513.5 401.5,470.5 495.5,470.5 495.5,479.5 484.5,479.5 484.5,556.5 \
    495.5,556.5 495.5,591.5 484.5,591.5 484.76,601.31 442.21,599.18 	')
  g#104
    polygon.st2(points='400.5,441.5 359.5,441.5 359.5,513.5 386.5,513.5 401.5,513.5 401.5,470.5 401.5,441.5 	')
  g#105
    path.st2(d='M388.5,364.5l0.18,77h12.82v29h94v-9v-42h-11v-60h-20v-14c0,0-12,0-27,1s-30,3-30,3v15H388.5z')
  g#106
    path.st2(d='M484.5,346.5v73h11v60h-11v12.1l99-0.1v-52h9v-64h-17v-16c0,0-13.16-3.03-28-6c-15-3-32-5-32-5v11h-20v-13\
    H484.5z')
  g#107
    rect.st2(x='583.5', y='439.5', width='44', height='74')
  g#108
    path.st2(d='M596.91,605.78l-0.41-79.28v-13h-13v-22h-99v65h11v35h-11l0.25,9.51c0,0,35.95,2.01,49.85,2.75\
    C548.5,604.5,596.91,605.78,596.91,605.78z')
  g#109
    polygon.st2(points='712.91,311.55 711.5,360.5 755.5,361.5 756.8,312.37 	')
  g#113
    polygon.st2(points='771.5,312.5 763.5,312.5 786.5,266.5 821.5,271.5 821.5,274.5 929.5,291.5 931.5,288.5 969.5,294.5 \
    963.5,363.5 961.5,363.5 959.5,382.5 910.5,375.5 874.5,371.5 818.5,366.5 770.5,363.5 771.5,335.5 	')
  g#114
    polygon.st2(points='682.5,491.5 682.5,606.5 680.5,606.5 680.5,632.5 710.5,625.5 750.5,618.5 773.12,615.99 \
    790.5,614.32 799.5,613.5 813.31,612.66 832.5,611.5 855.72,611.5 891.51,611.64 925.48,612.83 925.5,603.5 936.5,603.5 \
    954.5,431.5 933.5,425.5 933.5,438.5 907.5,434.5 907.5,419.5 865.5,413.5 823.5,408.5 823.5,423.5 791.5,423.5 791.5,442.5 \
    791.5,491.5 	')
  g#115
    polygon.st2(points='1089.5,569.5 1052.5,548.5 1046.5,560.5 1041.5,572.5 1078.5,592.5 	')
  g#116
    polygon.st2(points='1089.5,569.5 1105.5,536.5 1067.5,516.5 1057.5,535.5 1052.5,548.5 	')
  g#117
    polygon.st2(points='1125.5,496.5 1105.5,536.5 1067.5,516.5 1087.5,476.5 	')
  g#118
    polygon.st2(points='1158.5,544.5 1113.5,520.5 1125.5,496.5 1170.5,520.5 	')
  g#120
    polygon.st2(points='1207.5,551.5 1166.5,633.5 1216.5,661.5 1203.5,688.5 1154.5,661.5 1136.5,696.5 1100.5,677.5 \
    1080.5,667.5 1049.5,654.5 1062.5,627.5 1078.5,592.5 1094.4,559.39 1105.5,536.5 1113.5,520.5 1158.5,544.5 1165.61,530.28 \
    1176.5,535.5 1192.5,543.5 	')
  g#121
    polygon.st2(points='1214.5,495.5 1304.5,543.5 1349.5,447.5 1285.5,412.5 1219.5,379.5 1194.5,430.5 1192.5,434.5 \
    1196.5,436.5 1192.5,444.5 1201.5,449.5 1229.5,464.5 1219.5,484.5 	')
  g#126
    polygon.st2(points='1184.5,725.5 1203.5,688.5 1154.5,661.5 1136.5,696.5 	')
  g#127
    polygon.st2(points='1278.59,781.32 1306.5,723.5 1332.5,736.5 1340.5,720.5 1442.5,759.5 1432.5,788.5 1422.5,784.5 \
    1413.5,808.5 1423.5,812.5 1415.5,836.5 1405.5,832.5 1402.85,839.94 1363.5,823.5 1332.71,808.92 	')
  g#128
    polygon.st2(points='1306.5,723.5 1293.5,716.5 1325.5,650.5 1363.5,671.5 1340.5,720.5 1332.5,736.5 	')
  g#129
    polygon.st2(points='1442.5,759.5 1445.5,750.5 1434.5,746.5 1441.5,728.5 1452.5,732.5 1464.5,695.5 1454.5,691.5 \
    1468.5,653.5 1478.5,657.5 1488.5,628.5 1479.5,625.5 1475.5,636.5 1457.5,629.5 1462.5,617.5 1448.5,613.5 1429.5,609.5 \
    1410.5,606.5 1389.5,604.5 1382.5,617.5 1365.5,608.5 1340.64,658.87 1363.5,671.5 1340.5,720.5 	')
  g#130
    polygon.st2(points='1484.91,638.9 1502.5,646.5 1505.5,636.5 1519.5,644.5 1548.5,663.5 1564.5,676.5 1561.5,688.5 \
    1578.5,694.5 1571.5,720.5 1562.5,747.5 1534.5,738.5 1524.5,772.5 1438.02,737.46 1441.5,728.5 1452.5,732.5 1464.5,695.5 \
    1454.5,691.5 1468.5,653.5 1478.5,657.5 	')
  g#131
    polygon.st2(points='1576.5,752.5 1562.5,747.5 1534.5,738.5 1524.5,772.5 1513.5,809.5 1555.5,823.5 	')
  g#132
    polygon.st2(points='1530.16,881.64 1532.5,871.5 1525.5,869.5 1540.36,818.45 1513.5,809.5 1524.5,772.5 1438.5,737.5 \
    1434.5,746.5 1445.5,750.5 1442.5,759.5 1432.5,788.5 1422.5,784.5 1413.5,808.5 1423.5,812.5 1415.5,836.5 1405.5,832.5 \
    1402.5,839.5 1415.32,845.02 1454.91,858.97 1492.52,871.02 1518.76,878.52 	')
  g#133
    polygon.st2(points='1589.5,857.5 1602.5,813.5 1688.5,841.5 1673.5,886.5 	')
  g#135
    polygon.st2(points='1621.5,752.5 1602.5,813.5 1637.54,824.91 1655.5,763.5 	')
