.projector-control-widget
    width calc(50% - 5px)
    margin-right 5px
    height 150px
    display inline-block
    position relative
    .top-container
        position relative
        .status-light
            width 20px
            height 20px
            border-radius 20px
            position absolute
            top 50%
            transform translateY(-50%)
            right 20px
            &.on
                background #1fef91
                box-shadow 0 0 12px 5px rgba(0,255,0, 0.4)
            &.waiting
                background #ffe900
                box-shadow 0 0 12px 5px rgba(255, 233, 0, 0.4)
            &.off
                background red
                box-shadow 0 0 12px 5px rgba(255,0,0,0.3)
    .change-projector-status-btn
        position absolute
        transform translate(-50%, -50%)
        top calc(50% + 17px)
        width 150px
        left 50%
        
.door-control-widget
    width calc(50% - 5px)
    float right
    height 150px
    margin-left 5px
    .top-container
        position relative
        .lock-status
            color grey
            position absolute
            margin 0
            font-size 14px
            top 50%
            transform translateY(-50%)
            right 15px
    .change-lock-status-btn
        position absolute
        left 50%
        top calc(50% + 17px)
        transform translate(-50%, -50%)
        width 150px

.blinds-control-widget
    height 230px !important
    .controls-title
        text-align center
        font-weight 300
        font-size 25px
        margin 0
        color #696969
    .blind-controls-wrap
        width fit-content
        margin 20px auto 0
        height 100px
        display flex
        justify-content left
        .up-down-wrap
            display flex
            justify-content center
            width fit-content
            .blinds-up-btn,
            .blinds-down-btn
                background #d8d7d7
                width 75px
                height 75px
                border-radius 75px
                position relative
                cursor pointer
                transition background .3s
                &:hover
                    background #16BDF4 !important
                .icon
                    background-image url('../../img/teacher/arrow.svg')
                    background-repeat no-repeat
                    background-position center
                    background-size cover
                    width 60px
                    height 60px
                    position absolute
                    top calc(50% + 9px)
                    left calc(50% + 0.5px)
                    transform translate(-50%, -50%)
            .blinds-down-btn
                margin-left 30px
                .icon
                    transform translate(-50%, -50%) rotate(180deg)
                    top calc(50% - 8px)
        .preset-controls
            margin-top 20px
            margin-left 100px
            button
                width 125px
            .close-blinds-btn
                margin-left 20px
    .blinds-control-error
        position absolute
        margin 0
        bottom 10px
        left 50%
        transform translateX(-50%)
        color red
  
.lighting-control-widget
    .lighting-controls
        display flex
        width fit-content
        margin 20px auto 20px
        .light-switch-wrap
            margin-top 70px
            p
                color #9a9a9a
                font-size 15px
                margin 0 0 5px
                text-align center
            .switch
                height 18px
                width 50px
                left calc(50% - 25px)
                border-radius 18px
                background rgba(0,0,0,0.2)
                cursor pointer
                position relative
                transition background .3s
                &.active
                    background rgba(22, 189, 244, 0.5)
                    .switch-circle
                        left calc(100% - 19px) !important
                .switch-circle
                    width 20px
                    height 20px
                    position absolute
                    border-radius 20px
                    top -1px
                    left 0
                    background #16BDF4
                    transition left .3s
        .light-brightness-wrap
            margin-left 100px
            margin-top 70px
            p
                color #9a9a9a
                font-size 15px
                margin 0 0 5px
                text-align center
            .brightness-range-input
                -webkit-appearance none
                outline none
                border none
                background rgba(0,0,0,0.2)
                cursor pointer
                height 18px
                width 200px
                margin-top 0
                position relative
                overflow hidden
                border-radius 10px
                &::-webkit-slider-thumb
                    -webkit-appearance none
                    appearance none
                    background #16bdf4
                    box-shadow: -100.5vw 0 0 100vw rgba(22, 189, 244, 0.3)
                    width 18px
                    height 18px
                    border-radius 18px
        .light-color-wrap
            margin-left 100px
            p
                color #9a9a9a
                font-size 15px
                margin 0 0 5px
                width 175px
                text-align center
            #color-picker-container
                width 175px
.climate-control-widget,
.blinds-control-widget,
.lighting-control-widget
    margin-top 10px
    width 100%
    height 300px

.climate-control-widget
    margin-bottom 30px

.classroom-controls-widget
    .top-container
        height fit-content
        width calc(100% - 10px)
        margin-left 10px
        padding 15px 0
        .title
            color #4c4c4c
            font-weight bold
            font-size 25px
            margin 0 10px 0 10px
    .change-projector-status-btn,
    .change-lock-status-btn,
    .open-blinds-btn,
    .close-blinds-btn
        background #16BDF4
        border none
        padding 8px 12px
        color white
        cursor pointer
        font-size 16px
        outline none
        transition background .25s
        &:hover
            background #14afe2

@media only screen and (max-width 1100px)
    .lighting-control-widget
        height fit-content !important
        .lighting-controls
            flex-flow column !important
            .light-switch-wrap
                margin-top 0 !important
            .light-brightness-wrap,
            .light-color-wrap
                margin 40px 0 0 0 !important
            .light-color-wrap
                margin-left 15px !important