.ring-bell-widget
    width calc(30% - 10px)
    margin-right 10px
    height 300px
    display inline-block
    .ring-bell-btn
        top 50%
        position absolute
        left 50%
        transform translate(-50%, -50%)

.play-speech-widget
    float right
    width 70%
    height 300px
    display inline-block
    .play-speech-content
        width 90%
        margin-left 5%
        .speech-textbox
            resize none
            width calc(100% - 14px)
            height 150px
            background #fdfeff
            border solid 1px #e6eaec
            outline none
            font-size 16px
            padding 7px
            color #4c4c4c
        .play-speech-btn
            margin 10px 0 0
            float right
            
.play-music-widget
    width 100%
    margin-top 10px
    height 400px
    position relative

.pa-system-widget
    .top-container
        height fit-content
        width 95%
        margin-left 2.5%
        padding 15px 0
        .title
            color #4c4c4c
            font-weight bold
            font-size 25px
            margin 0 10px 0 10px
    .play-speech-btn,
    .ring-bell-btn
        background #16BDF4
        border none
        padding 8px 12px
        color white
        cursor pointer
        font-size 16px
        outline none
        transition background .25s
        &:hover
            background #14afe2