link(rel="stylesheet", href="/css/teacher/nav.css")

.side-nav
	.top
		.icon
	.nav-content
		.nav-btn-wrap.home-btn-wrap
			.icon
				include navIcons/homeIcon
			p Home
		.nav-btn-wrap.attendance-btn-wrap
			.icon
				include navIcons/attendanceIcon
			p Attendance
		.nav-btn-wrap.pa-system-btn-wrap
			.icon
				include navIcons/PASystemIcon
			p PA System
		.nav-btn-wrap.manage-students-btn-wrap
			.icon
				include navIcons/manageStudentsIcon
			p Manage Students
		.nav-btn-wrap.classroom-controls-btn-wrap
			.icon
				include navIcons/classroomControlsIcon
			p Classroom Controls
	.bottom
		p.settings-btn.nav-bottom-btn Settings
		p.logout-btn.nav-bottom-btn Logout
script(src="/js/teacher/nav.js")