@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
body
    margin 0 
    
.AD-dashboard-body
    width calc(100% - 75px)
    height calc(100% - 75px)
    top 75px
    left 75px
    overflow-y scroll
    position absolute
    background #f4f4f7
    
.AD-dashboard-body-header
    width 100%
    height 150px
    position relative
    
.AD-dashboard-body-header-container
    width fit-content
    height fit-content
    transform translateY(-50%)
    left 5%
    top 50%
    position absolute
    p, h5
        margin 0
        font-family helvetica
        font-weight 300
        font-size 45px
    p
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        
.ADA-dashboard-body-top-info
    width 90%
    height 110px
    display flex
    justify-content space-between
    margin 0 auto
    
.ADA-top-info-object
    width 20%
    height 100%
    cursor pointer
    border-bottom 4px solid #e2e2e2
    &.selected
        border-bottom 4px solid #4896fe
    &:hover
        border-bottom 4px solid #4896fe
    
.ADA-top-info-object-top
    width 100%
    height 30px
    position relative
    h5
        margin 0
        transform translateY(-50%)
        top 50%
        position absolute

.ADA-top-info-object-bottom
    width 100%
    height calc(100% - 30px)
    position relative
    margin-top 7px
    color #182a44
    
.ADA-tiob-wrapper
    width 100%
    height fit-content
    h5, h6
        margin 0
        font-size 13px
    h5
        font-size 30px
        color #3480e6
        
.ADA-dashboard-body-section-one
    width 100%
    height 500px
    position relative
    
.ADA-dashboard-section-one-container
    width 90%
    height 85%
    transform translate(-50%, -50%)
    top 50%
    left 50%
    position absolute
    background white
    border-radius 15px
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);

.ADA-dashboard-body-section-two
    width 100%
    height 500px
    position relative
    
.ADA-dashboard-section-two-container
    width 90%
    height 100%
    position absolute
    transform translate(-50%, -50%)
    top 50%
    left 50%
    display flex
    justify-content space-between

.ADA-dashboard-section-two-object
    width 48%
    height 100%
    background white
    border-radius 15px
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);

.ADA-dashboard-body-section-three
    width 100%
    height 500px
    position relative
    
.ADA-dashboard-section-three-container
    width 90%
    height 85%
    transform translate(-50%, -50%)
    top 50%
    left 50%
    position absolute
    background white
    border-radius 15px
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);

.ADA-dashboard-section-two-object-header
    width 100%
    height 75px
    position relative
    display -webkit-box
    
.ADA-dashboard-section-two-object-header-container
    width fit-content
    height fit-content
    transform translateY(-50%)
    top 50%
    position absolute
    margin-left 5%
    p
        margin: 0;
        font-weight: 600;
        font-size: 23px;
        letter-spacing: 0.1px;
        
.ADA-dashboard-section-two-object-header-more-info-wrapper
    width fit-content
    height fit-content
    position absolute
    transform translateY(-50%)
    top 50%
    right 5%
    cursor pointer
    p
        font-size 13px
        
.ADA-dashboard-section-two-object-labels
    width 100%
    height 50px
    position relative
    display -webkit-box

.ADA-dashboard-section-two-object-labels-object
    width calc(100% / 3)
    height 100%
    position relative
    p
        margin: 0;
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
        margin-left: 34px;
        color: #ababab;
        font-weight: 700;
        font-size: 13px;
        letter-spacing: -0.2px;
    
.ADA-tolo-one
    width 50%
.ADA-tolo-two
    width 25%
.ADA-tolo-three
    width 25%

.ADA-dashbaord-section-two-object-data-container
    width 100%
    height fit-content
    max-height calc(100% - 150px)


.ADA-dashbaord-section-two-object-data-container-object
    width 100%
    height 100px
    position relative
    background #e2e2e2
    
.ADA-dstodco-container
    width 100%
    height 100%
    position relative
    display -webkit-box
    
.ADA-dstodco-container-left
    width 50%
    height 100%
    position relative
    display -webkit-box
    
.ADA-dstodco-avatar-wrapper
    width fit-content
    height fit-content
    position relative
    transform translateY(-50%)
    top 50%
    margin-left 35px

.ADA-dstodco-avatar 
    width 40px
    height 40px
    border-radius 50%
    background black
    
.ADA-dstodco-user-data
    width fit-content
    height fit-content
    margin-left 20px
    position relative
    transform translateY(-50%)
    top 50%
    p  
        margin 0
.ADA-dstodco-container-center
    width 25%
    height 100%
.ADA-dstodco-grade-wrapper
    width fit-content
    height fit-content
    margin-left 34px
    position absolute
    transform translateY(-50%)
    top 50%
    p  
        margin 0
.ADA-dstodco-container-right
    width 25%
    height 100%
.ADA-dstodco-date-added
    width fit-content
    height fit-content
    margin-left 34px
    position absolute
    transform translateY(-50%)
    top 50%
    p  
        margin 0
    