.AD-nav-wrapper
    position absolute
    left 0px
    height -webkit-fill-available
    width 325px
    background #f4f6f9
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.2);
    transition 1s
    &.securityPage
        left -325px

.AD-nav-wrapper-top
    width 100%
    height 30%
    position relative
    
.AD-nav-wrapper-top-header
    width 100%
    height fit-content
    transform translateY(-50%)
    top 50%
    position absolute
    p
        font-family: Nunito;
        font-weight: 800;
        color: #525252;
        margin: 0;
        margin-left: 90px;
        letter-spacing: 0px;
        font-size: 22px;
    
.AD-nav-wrapper-navi
    width 100%
    height 50%
    position relative
    
.AD-nav-wrapper-navi-object
    width 100%
    height 70px
    position relative
    display -webkit-box

.AD-nav-wrapper-navi-object-wrapper
    width calc(100% - 40px)
    height 50px
    cursor pointer
    right 0px
    position absolute
    transform translateY(-50%)
    top 50%
    display -webkit-box
        
.AD-nav-wrapper-navi-object-icon-wrapper
    width 50px
    height 50px
    position relative
    
.AD-nav-wrapper-navi-object-icon
    width 20px
    height 20px
    transform translate(-50%, -50%)
    top 50%
    left 50%
    position relative
    background-image url('/img/admin/dashboard.svg')
    background-size cover
    background-position center
    background-repeat no-repeat
    
.AD-nav-wrapper-navi-object-desc-wrapper
    width calc(100% - 50px)
    height 100%
    position relative
    p
        margin: 0;
        transform: translateY(-50%);
        top: 50%;
        position: relative;
        margin-left: 10px;
        font-family: roboto;
        font-weight: 300;
        letter-spacing: 1.7px;
        color: #505050;
    
.AD-nav-wrapper-hover-object
    width: 0px
    height: 50px;
    background: #85b9ff;
    right: 0px;
    position: absolute;
    transition .3s
    transform translateY(-50%)
    top 50%
    &.selected
        width 7px !important
    &.base
        width 7px
    &.selectedDouble
        width 12px
    &.hide
        width 0px
        
.naviIcon-2
    background-image url('/img/admin/school.svg')
    background-size: 26px;
    
.naviIcon-3
    background-image url('/img/admin/students.svg')
    background-size: 26px;
    
.naviIcon-4
    background-image url('/img/admin/system.svg')
    
.naviIcon-5
    background-image url('/img/admin/security.svg')
    
.naviIcon-6
    background-image url('/img/admin/logout.svg')

.AD-nav-wrapper-top-header-icon
    width: 100px;
    height: 100px;
    background-image: url(/img/gradCap.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;

.AD-nav-wrapper-navi-container
    width 100%
    height fit-content
    transform translateY(-50%)
    top 45%
    position absolute
    