.projector-control-widget.widget-wrap.classroom-controls-widget
    .top-container
        h1.title Projector

.door-control-widget.widget-wrap.classroom-controls-widget
    .top-container
        h1.title Door

.climate-control-widget.widget-wrap.classroom-controls-widget
    .top-container
        h1.title Climate
        
.blinds-control-widget.widget-wrap.classroom-controls-widget
    .top-container
        h1.title Blinds

.lighting-control-widget.widget-wrap.classroom-controls-widget
    .top-container
        h1.title Lighting